.blink {
    animation: blink-animation 1.5s steps(2, start) infinite;
    -webkit-animation: blink-animation 1.5s steps(2, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

.fade-in-text {
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.links {
    opacity: 0;
    animation-name: fadeIn;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    transition: opacity 0.5s ease;
}

.links:nth-child(1) {
    animation-delay: 4s;
}

.links:nth-child(2) {
    animation-delay: 4.5s;
}

.links:nth-child(3) {
    animation-delay: 5s;
}